# Force the cozy stack version
# see https://cloud.docker.com/swarm/vsellier/repository/docker/vsellier/easy-cozy/tags for all available versions
# Examples : 
# COZY_STACK_VERSION=latest
# COZY_STACK_VERSION=2018M2S5

# The place to store the database content
DATABASE_DIRECTORY=/var/lib/cozy/db

# The place to store the cozy's raw files
STORAGE_DIRECTORY=/var/lib/cozy/storage

# The place to store the let's encrypt stuff
ACME_DIRECTORY=/var/lib/acme

# The base domain used for the cozy cloud instances
COZY_TLD=cozy.mydomain.tld

# The contact email used for let's encrypt
EMAIL=bofh@mydomain.tld

# The admin passphrase
COZY_ADMIN_PASSPHRASE=changeme